{% extends "base.html" %}
{% block content %}
<form class="searchingbar" method ="GET" action="/">
    <input type="text" name="sport" placeholder="Search by Category..." value="{{sport or '' }}">
    <button type="submit">Search</button>
</form>

<form class="searchingdate" method ="GET" action="/">
<label><b>Choose Date: </b></label>
    <input type="date" name="date" value="{{ date or '' }}">
    <input type="hidden" name="sport" value="{{ sport or '' }}">
    <button type="submit">Apply</button>
</form>


{% if searched %}
    <h1>Search Result:</h1>

   {% if results %} 
        {% for post in results %}
        <div class="postcard">
            <h3>{{ post.title }}</h3>
            <p><b>Category:</b> {{ post.category }}</p>
            <p><b>Date:</b> {{ post.date.year }}/{{ post.date.month }}/{{ post.date.day}}</p>
            <p><b>Location:</b> {{ post.location }}</p>
            <p><b>Gender:</b> {{ post.gender }}</p>
        </div>
        {% endfor%}
    {% else %}
    <p>No posts related to {{ sport }}</p>
    {% endif %}
{% endif %}

{% endblock %}
