<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Admin Dashboard</title>
  <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
  <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/7.0.1/css/all.min.css" rel="stylesheet">
</head>

<body>
  <!-- Navigation bar -->
   <div class="navbar-container">
            <!-- Logo -->
            <a class="header-logo" href="{{ url_for('home') }}"><span>ebFit</span></a>

            <div class="nav-right">
                <div class="navbar-search">

                {% if current_user.is_authenticated %}
                    <nav class="nav-item">
                        <a href="{{ url_for('admin_approval') }}">Admin Approval</a>

                        {% if current_user.role in ['admin', 'both'] %}
                            <a href="{{ url_for('create') }}">Login As User</a>
                        {% endif %}


                        <a href="{{ url_for('logout') }}">Log Out</a>
                    </nav>
                {% else %}
                {% endif %}

            </div>
        </div>
    </div>
    </header>


  <!-- Flash messages -->
  {% with messages = get_flashed_messages() %}
    {% if messages %}
      {% for message in messages %}
        <div class="popup">
          <div class="popup-content">
            <p>{{ message }}</p>
            <a href="{{ request.path }}"><button class="submit">OK</button></a>
          </div>
        </div>
      {% endfor %}
    {% endif %}
  {% endwith %}

  <!-- Admin content -->
    <h1>Welcome, {{ current_user.user_name }} (Admin)</h1>

</body>
</html>
