<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8" />
    <title>{% block title %}My App{% endblock %}</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/7.0.1/css/all.min.css">
</head>
<body class="user">
    <header>
        <div class="navbar-container">
            <!-- Logo -->
            <a class="header-logo" href="{{ url_for('home') }}"><span>ebFit</span></a>

            <div class="nav-right">

                <!-- Search bar -->
                <div class="navbar-search">
                    <details>
                        <summary class="search-toggle">Search</summary>
                        <form method="GET" action="{{ url_for('search') }}">
                            <input type="text" name="sport" placeholder="Search by category..."
                                   value="{{ request.args.get('sport','') }}">
                            <input type="date" name="date" value="{{ request.args.get('date','') }}">
                            <button type="submit" class="search-btn">Search</button>
                        </form>
                    </details>
                </div>


                {% if current_user.is_authenticated %}
                    <nav class="nav-item">
                        <a href="{{ url_for('posts') }}">Posts</a>

                        {% if current_user.role in ['user', 'both'] %}
                            <a href="{{ url_for('notifications') }}">Notifications</a>
                            <a href="{{ url_for('profile') }}">My Profile</a>

                        {% if current_user.role in ['admin', 'both'] %}
                            <a href="{{ url_for('admin_dashboard') }}">Dashboard</a>
                            <a href="{{ url_for('admin_reports') }}">Reports</a>
                            <a href="{{ url_for('admin_approval') }}">Admin Approvals</a>
                            <a href="{{ url_for('profile') }}">My Profile</a>
                            <a href="{{ url_for('admin_dashboard') }}">Login As Admin</a>
                        {% endif %}

                        <a href="{{ url_for('logout') }}">Log Out</a>
                    </nav>
                {% else %}
                    <nav class="nav-item">
                        <a href="{{ url_for('login') }}">Log In</a>
                        <a href="{{ url_for('register') }}">Register</a>

                    </nav>
                {% endif %}

            </div>
        </div>
    </header>

    <main>
        {% block content %}{% endblock %}
    </main>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/4.0.1/socket.io.js"
            integrity="sha512-q/dWJ3kcmjBLU4Qc47E4A9kTB4m3wuTY7vkFJDTZKjTs8jhyGQnaUrxa0Ytd0ssMZhbNua9hE+E7Qv1j+DyZwA=="
            crossorigin="anonymous">
    </script>
    {% block page_scripts %}{% endblock %}
</body>
</html>
