{% extends 'base.html' %}

{% block title %}Chat{% endblock %}

{% block content %}
<div class="chat-container">
    <h2>Chat with {{ post.user.name }}</h2>

    <div id="chat" data-room="{{ room }}" data-username="{{ username }}">
        <ul id="messages" class="messages"></ul>

        <form id="chat-form">
            <input type="text" id="msg" placeholder="Type a message..." autocomplete="off">
            <button type="submit" class="btn">Send</button>
        </form>
    </div>
</div>

<script>
const socket = io();
const chatE1 = document.getElementById('chat');
const ROOM = chatE1.dataset.room;
const USERNAME = chatE1.dataset.username;



</script>

{% endblock %}