{% extends "base.html" %}

{% block title %}Create Activity Post{% endblock %}

{% block content %}


<div class="container">
    <h1>Create Activity Post</h1>

    {% with messages = get_flashed_messages(with_categories=true) %}
        {% if messages %}
            {% for category, msg in messages %}
            <div class="alert alert-{{ category }}" role="alert">
                {{ msg }}
            </div>
            {% endfor %}
        {% endif %}
    {% endwith %}

    

    <form method="POST">
        {{ form.hidden_tag() }}

        <p>
            {{ form.title.label }} <br>
            {{ form.title() }}
        </p>
        <p>
            {{ form.content.label }} <br>
            {{ form.content() }}
        </p>
        <p>
    {{ form.location.label }} <br>
    {{ form.location() }}
</p>

{% if similar_locations %}
    <p>Did you mean:</p>
    <ul>
        {% for place in similar_locations %}
            <li>{{ place['name'] }} - {{ place.get('formatted_address', '') }}</li>
        {% endfor %}
    </ul>
{% endif %}

        <p>
            {{ form.event_datetime.label }} <br>
            {{ form.event_datetime() }}
        </p>

        <p>
            {{ form.participants.label }} <br>
            {{ form.participants() }}
        </p>

        <div style="margin-top:1rem;">
            {{ form.submit(class="btn post-btn") }}
            <a href="{{ url_for('posts') }}" class="btn cancel-btn">Cancel</a>
        </div>
            
    </form>
</div>
{% endblock %}
