{% extends "base.html" %}

{% block title %}Edit Post{% endblock %}

{% block content %}
<div class="container">
    <h1>Edit Post</h1>

    <form method="POST" enctype="multipart/form-data">
        {{ form.hidden_tag() }}

        <div>
            {{ form.title.label }}<br>
            {{ form.title(size=40) }}
        </div>

        {% if post.image_filename %}
            <div class="form-group">
                <p>Current Image:</p>
                <img src="{{ url_for('static', filename='uploads/' ~ post.image_filename) }}"
                     alt="Post Image"
                     class="img-fluid rounded"
                     style="max-width: 300px;">
            </div>
        {% endif %}

        <!-- Upload New Image -->
        <div class="form-group">
            {{ form.image.label }}<br>
            {{ form.image(class="form-control-file") }}
            {% for error in form.image.errors %}
                <span class="text-danger">{{ error }}</span>
            {% endfor %}
        </div>



        <div>
            {{ form.content.label }}<br>
            {{ form.content(rows=5, cols=40) }}
        </div>

        <div>
            {{ form.location.label }}<br>
            {{ form.location(size=40) }}
        </div>

        <div>
            {{ form.event_date.label }}<br>
            {{ form.event_date(class="form-control", type="date") }}
        </div>

        <div>
            {{ form.start_time.label }}<br>
            {{ form.start_time(class="form-control", placeholder="start time (24-hour format)") }}
        </div>

        <div>
            {{ form.end_time.label }}<br>
            {{ form.end_time(class="form-control", placeholder="end time (24-hour format)") }}
        </div>

        
        <div>
            {{ form.participants.label }}<br>
            {{ form.participants(size=40) }}
        </div>

        <div>
            {{ form.submit(class="btn") }}
        </div>
    </form>

    <a href="{{ url_for('post_detail', post_id=post.post_id) }}" class="btn">Cancel</a>
</div>
{% endblock %}
