{% extends "base.html" %}

{% block title %}Edit Profile{% endblock %}

{% block content %}
<div class="container">
    <h1>Edit Profile</h1>

    <form method="POST" enctype="multipart/form-data">
        {{ form.hidden_tag() }}
        
        <div>
            {{ form.name.label }}<br>
            {{ form.name(size=40) }}
        </div>
        
       <p class="gender-row">
            <label>Gender</label>
            <label>
                <input type="radio" name="gender" value="Male" required> Male
            </label>
            <label>
                <input type="radio" name="gender" value="Female" required> Female
            </label>
        </p>


        <div>
            {{ form.bio.label }}<br>
            {{ form.bio(rows=5, cols=40) }}
        </div>

        <div>
            {{ form.security_question.label }}<br>
            <div class="security-option">
                {{ form.security_question(class="form-control") }}
            </div>
        </div>

        <div>
            {{ form.security_answer.label }}<br>
            {{ form.security_answer(size=40) }}
        </div>

        <div>
            {{ form.picture.label }}<br>
            {{ form.picture(class="form-control-file") }}
        </div>

        <div>
            {{ form.submit(class="btn") }}
        </div>
    </form>

    <a href="{{ url_for('profile') }}" class="btn">Cancel</a>
</div>
{% endblock %}
