<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
    <link href = "https://cdnjs.cloudflare.com/ajax/libs/font-awesome/7.0.1/css/all.min.css" rel="stylesheet">
</head>

<body> 
    <header>
        <a class="header-logo"><span>ebFit </span></a>
    </header>
    <section id="herohome">
    <div class="section-wrap">
        <div class="herohome-content">
            <div class="left">
                <h1 class="main-text"><span><br>ebFit.</span></h1>
                <h2 class="sub-text">
                    Find and join the best sports activities<br> near you.
                </h2>
                <span class="powered">--Powered by ebFit.</span>
                <div class="btn-group">
                    <a href="{{ url_for('login') }}" class="big-cta-btn">Log In</a>
                    <a href="{{ url_for('register') }}" class="big-cta-btn">Register</a>
                </div>

            </div>

            <div class="right">
                <img src="{{ url_for('static', filename='images/run.jpg') }}" 
                     class="herohome-img" alt="Running">
            </div>
        </div>
    </div>
</section>
</body>
</html>
