{% extends "base.html" %}

{% block title %}Edit Post{% endblock %}

{% block content %}
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>
    <section id="herohome" class="page-container">

        <div class="herohome-content">
            <div class="left-content">
                <div>
                    <h1>About <span>EbFit</span></h1>
                    <p>
                        Ebfit is designed to be free, simple, and student-focused. 
                        Instead of confusing users with a wide variety of categories and expensive subscriptions, 
                        Ebfit allows students to create an account and edit posts, request and join activities, as well as track activities. 
                        This positions Ebfit as a user-friendly website that helps MMU students find reliable sports activities.
                    </p>
                    <a href="{{ url_for('login') }}" class="big-cta-btn">Log In</a>
                    <a href="{{ url_for('register') }}" class="big-cta-btn">Register</a>
                </div>
            </div>

            <div class="right-content">
                <img src="{{ url_for('static', filename='images/run.jpg') }}" class="herohome-img" alt="Running">
            </div>
        </div>
    </section>
</body>
{% endblock %}

