<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
    <link href="https://cdn.jsdelivr.net/npm/remixicon/fonts/remixicon.css" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/7.0.1/css/all.min.css">
    <title>Admin Login</title>
</head>

<body class="admin login-page">
    <div class="page-container">
        <div class="page-container">
        <header>
            <a class="header-logo"><span>ebFit</span></a>
            <a href="{{ url_for('home') }}" class="nav-items">
                    <i class="fa-solid fa-house"></i>
                </a>
        </header>
    </div>

            </header>
        </div>

    <div id="popup"></div>
    <div id="page" class="site">
        <div class="container2">
            <div class="login">
                <!-- Left side hero -->
                <div class="hero">
                    <h1>Welcome <br>Admin.</h1>
                    <p>
                        Want to become admin?<br>
                        <a href="{{ url_for('request_admin') }}">Request to Join Here</a>.
                    </p>
                </div>

                <!-- Right side login form -->
                <div class="main">
                    <div class="login-box">
                        {% with messages = get_flashed_messages() %}
                        {% if messages %}
                        {% for message in messages %}
                        <div class="popup">
                            <div class="popup-content">
                                <p>{{ message }}</p>
                                <a href="{{ request.path }}"><button class="submit">OK</button></a>
                            </div>
                        </div>
                        {% endfor %}
                        {% endif %}
                        {% endwith %}

                        <form action="{{ url_for('login_admin') }}" method="POST">
                            <h2 class="form-title">Admin Login</h2>

                            <p class="colortext">
                                <span><strong>Email address</strong></span>
                                <input type="email" name="admin_email" required>
                            </p>

                            <p class="password">
                                <span><strong>Password</strong></span>
                                <input type="password" name="password" required>
                            </p>

                            <div class="btn-group">
                                <input type="submit" class="big-cta-btn" value="Log In">
                            </div>
                        </form>
                    </div>
                </div>

            </div>
        </div>
    </div>
</body>
</html>
