{% extends "base.html" %}

{% block title %}My post{% endblock %}

{% block content %}
<div class="container">
    <h1>{{ post.title }}</h1>
    <p class="meta">
        Event Date: {{ post.event_datetime }} | {{ post.location }}
    </p>

    <p class="meta"> 
        Posted on: {{ post.local_date_posted_value.strftime('%Y-%m-%d %H:%M') if post.local_date_posted_value else '' }} by {{ post.author }}
    </p>

    <p>Location: {{ post.location }}</p>

    <div class="content">
        <p>{{ post.content }}</p>
    </div>
    

    <a href="{{ url_for('home') }}" class="btn">Back to Home</a>
    <a href="{{ url_for('edit_post', post_id=post.id) }}" class="btn">Edit</a>
    <button class="btn chat-btn">Chat with Me</button>
</div>




{% endblock %}
