<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
    <link href="https://cdn.jsdelivr.net/npm/remixicon/fonts/remixicon.css" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/7.0.1/css/all.min.css">
    <title>Register</title>
</head>

<body class="user register-page">

    <!-- Navigation Bar -->
    <div class="page-container">
        <header>
            <a class="header-logo"><span>ebFit</span></a>
            <a href="{{ url_for('home') }}" class="nav-items">
                    <i class="fa-solid fa-house"></i>
                </a>
        </header>
    </div>

    <div id="page" class="site">
        <div class="container2">
            <div class="login">

                <!-- Left Hero -->
                <div class="hero">
                    <h1>Welcome <br>ebFit.</h1>
                    <p>
                        If you already have an account,<br>
                        <a href="{{ url_for('login') }}">Login here.</a>
                    </p>
                </div>

                <!-- Right Register Form -->
                <div class="main">
                    <div class="login-box">
                        <!--flash message-->
                        {% with messages = get_flashed_messages() %}
                        {% if messages %}
                        {% for message in messages %}
                        <div class="popup">
                            <div class="popup-content">
                                <p>{{ message }}</p>
                                <a href="{{ request.path }}"><button class="submit">OK</button></a>
                            </div>
                        </div>
                        {% endfor %}
                        {% endif %}
                        {% endwith %}
                        
                        <!--when submitted, form send data to route-->
                        <form action="{{ url_for('register') }}" method="POST" enctype="multipart/form-data"> <!--for file uploaded-->
                            <h2 class="form-title">Register User</h2>

                            <p class="colortext">
                                <span><strong>Email address</strong></span>
                                <input type="email" name="email" required>
                            </p>

                            <p class="colortext">
                                <span><strong>Full name</strong></span>
                                <input type="text" name="name" required>
                            </p>

                            <p class="gender-row">
                                <label>Gender</label>
                                <label>
                                    <input type="radio" name="gender" value="Male" required> Male
                                </label>
                                <label>
                                    <input type="radio" name="gender" value="Female" required> Female
                                </label>
                            </p>

                             <p class="colortext">
                                <span><strong>Fitness Level</strong></span>
                                <select name="sport_level" class="form-select" required>
                                    <option value="" disabled selected>-- Select Fitness Level --</option>
                                    <option value="newbie">Newbie</option>
                                    <option value="intermediate">Intermediate</option>
                                    <option value="advanced">Advanced</option>
                                </select>
                            </p>

                            <p class="colortext">
                                <span><strong>Password</strong></span>
                                <input type="password" name="password" required>
                            </p>

                            <p class="colortext">
                                <span><strong>Security Question (For Reset Password)</strong></span>
                                <select name="security_question" class="form-select" required>
                                    <option value="" disabled selected>-- Select a security question --</option> <!--default option-->
                                    {% for key, text in question.items() %} <!--loop through dictionary question-->
                                        <!--key set on dictionary-->
                                        <option value="{{ key }}"
                                            {% if user and user.security_question == key %} selected {% endif %}> <!--when user selected option match the key-->
                                            {{ text }} <!--question display-->
                                        </option>
                                    {% endfor %}
                                </select>
                            </p>

                            <p class="colortext">
                                <span><strong>Security Answer (For Reset Password)</strong></span>
                                <input type="text" name="security_answer" required>
                            </p>

                            <p class="colortext">
                                <span><strong>Profile Picture</strong></span>
                                <input type="file" name="picture" accept=".jpg, .png">
                            </p>

                            <div class="btn-group">
                                <input type="submit" class="big-cta-btn" value="Register">
                            </div>
                        </form>
                    </div>
                </div>

            </div>
        </div>
    </div>
</body>
</html>