<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
    <link href="https://cdn.jsdelivr.net/npm/remixicon/fonts/remixicon.css" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/7.0.1/css/all.min.css">
    <title>Register</title>
</head>

<body class="user register-page">

    <!-- Navigation Bar -->
    <div class="page-container">
        <header>
            <a class="header-logo"><span>ebFit</span></a>
            <a href="{{ url_for('home') }}" class="nav-items">
                    <i class="fa-solid fa-house"></i>
                </a>
        </header>
    </div>

    <div id="page" class="site">
        <div class="container2">
            <div class="login">

                <!-- Left Hero -->
                <div class="hero">
                    <h1>Welcome <br>User.</h1>
                    <p>
                        If you already have an account,<br>
                        <a href="{{ url_for('login') }}">Login here</a>.
                    </p>
                </div>

                <!-- Right Register Form -->
                <div class="main">
                    <div class="login-box">

                        {% with messages = get_flashed_messages() %}
                        {% if messages %}
                        {% for message in messages %}
                        <div class="popup">
                            <div class="popup-content">
                                <p>{{ message }}</p>
                                <a href="{{ request.path }}"><button class="submit">OK</button></a>
                            </div>
                        </div>
                        {% endfor %}
                        {% endif %}
                        {% endwith %}
                        
                        <form action="{{ url_for('register') }}" method="POST">
                            <h2 class="form-title">Register User</h2>

                            <p class="colortext">
                                <span><strong>Email address</strong></span>
                                <input type="email" name="user_email" required>
                            </p>

                            <p class="colortext">
                                <span><strong>Full name</strong></span>
                                <input type="text" name="user_name" required>
                            </p>

                            <p class="gender-row">
                                <label>Gender</label>
                                <label>
                                    <input type="radio" name="gender" value="Male" required> Male
                                </label>
                                <label>
                                    <input type="radio" name="gender" value="Female" required> Female
                                </label>
                            </p>

                             <p class="colortext">
                                <span><strong>Fitness Level</strong></span>
                                <select name="sport_level" class="form-select" required>
                                    <option value="">-- Select Fitness Level --</option>
                                    <option value="newbie">Newbie</option>
                                    <option value="intermediate">Intermediate</option>
                                    <option value="advanced">Advanced</option>
                                </select>
                            </p>

                            <p class="colortext">
                                <span><strong>Password</strong></span>
                                <input type="password" name="password" required>
                            </p>

                            <p class="colortext">
                                <span><strong>Security Question (For Reset Password)</strong></span>
                                <select name="security_question" class="form-select" required>
                                    <option value="">-- Select a security question --</option>
                                    <option value="pet">What was your first pet name?</option>
                                    <option value="car">What was your first car?</option>
                                    <option value="hospital">What hospital name were you born in?</option>
                                    <option value="city">What city were you born in?</option>
                                    <option value="girlfriend">What was your first ex girlfriend's name?</option>
                                    <option value="boyfriend">What was your first ex boyfriend's name?</option>
                                    <option value="school">What was the name of your first school?</option>
                                    <option value="book">What was your favorite childhood book?</option>
                                </select>
                            </p>


                            <p class="colortext">
                                <span><strong>Security Answer (For Reset Password)</strong></span>
                                <input type="text" name="security_answer" required>
                            </p>

                            <div class="btn-group">
                                <input type="submit" class="big-cta-btn" value="Register">
                            </div>
                        </form>
                    </div>
                </div>

            </div>
        </div>
    </div>
</body>
</html>
