{% extends "base.html" %}
{% block content %}
<body>
<h1>Sports Activity Posts</h1>
<form class="searchingbar" method ="GET" action="{{ url_for('search') }}">
    <input type="text" name="sport" placeholder="Search by Category..." value="{{sport or '' }}">
    <button type="submit">Search</button>
</form>

<form class="searchingdate" method ="GET" action="{{ url_for('search') }}">
<label><b>Choose Date: </b></label>
    <input type="date" name="date" value="{{ date or '' }}">
    <input type="hidden" name="sport" value="{{ sport or '' }}">
    <button type="submit">Apply</button>
</form>


{% if searched %}
    <h1>Search Result:</h1>
   {% if results %} 
        {% for post in results %}
        <div class="postcard">
            <h3>{{ post.title }}</h3>
            <p><b>Category:</b> {{ post.category }}</p>
            <p><b>Date:</b> {{ post.date.day }}/{{ post.date.month }}/{{ post.date.year }}</p>
            <p><b>Location:</b> {{ post.location }}</p>
            <p><b>Gender:</b> {{ post.gender }}</p>
        </div>
        {% endfor%}
    {% else %}
    <p>No posts related to {{ sport }}</p>
    {% endif %}
{% else %}
    <h1>All Posts: </h1>
    {% for post in results %}
    <div class="postcard">
            <h3>{{ post.title }}</h3>
            <p><b>Category:</b> {{ post.category }}</p>
            <p><b>Date:</b> {{ post.date.day }}/{{ post.date.month }}/{{ post.date.year }}</p>
            <p><b>Location:</b> {{ post.location }}</p>
            <p><b>Gender:</b> {{ post.gender }}</p>
        </div>
    {% endfor %}
{% endif %}
</body>

{% endblock %}
