<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Upload Location CSV</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/7.0.1/css/all.min.css">
</head>
<body class="adminloc">
    <!-- Flash messages -->
        {% with messages = get_flashed_messages() %}
            {% if messages %}
                {% for message in messages %}
                    <div class="popup">
                        <div class="popup-content">
                            <p>{{ message }}</p>
                                <a href="{{ request.path }}"><button class="submit">OK</button></a>
                        </div>
                    </div>
                {% endfor %}
            {% endif %}
        {% endwith %}
    <!-- Navigation bar -->
    <div class="navbar-container">
        <a class="header-logo" href="{{ url_for('home') }}"><span>ebFit</span></a>
        <div class="nav-right">
            <nav class="nav-item">
                <a href="{{ url_for('admin_dashboard') }}">Admin Dashboard</a>
                <a href="{{ url_for('admin_approval') }}">Admin Approval</a>
                <a href="{{ url_for('upload_location_csv') }}">Update Location</a>
                {% if current_user.role in ['admin', 'both'] %}
                    <a href="{{ url_for('posts') }}">Login As User</a>
                {% endif %}
                <a href="{{ url_for('logout') }}">Log Out</a>
            </nav>
        </div>
    </div>

    <div class="admincon"><h1>Update Location List</h1>
    <div class="containerloc">
        
        <p>Upload a CSV file with a list of locations (header: <strong>name,distance</strong>).</p>

        <form method="POST" enctype="multipart/form-data">
            <input type="file" name="file" accept=".csv" required>
            <!-- Info icon that links to modal -->
        <a href="#modalloc" class="info-icon">
            <i class="fa-solid fa-circle-info"></i>Click to view example of correct CSV File Format
        </a>

        <!-- Modal -->
        <div id="modalloc" class="modal">
            <a href="#" class="close">&times;</a>
            <img src="{{ url_for('static', filename='images/csvway.jpg') }}" class="modal-content" alt="CSV Example">
        </div>
        <br>
            <button type="submit" class="btnloc">Upload</button>
        </form>
    </div>
</body>
</html>
